<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Camera Stream</title>

<body>
	<center><h1>Video feed</h1></center>
	<center><img src="{{ url_for('video_feed') }}"></center>
</body>
</html>
