<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Robot Controller</title>

<body>
	<form action="" method="post" novalidate>
	 {{ logout.hidden_tag() }}
	 <p>{{ logout.submit }}</p>
	</form>

	<label for="num_steps">Number of steps to go:</label>
	<input id = "num_steps" type="text" name="num_steps" value="1"><br>

	<button id = "forward" type = "button">FORWARD</button>
	<button id = "right" type = "button">RIGHT</button>
	<button id = "left" type = "button">LEFT</button>

	<center><h1>Video feed</h1></center>
	<center><img src="{{ url_for('video_feed') }}"></center>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
		$(document).ready(function(){
			$("#forward").click(function() {
				$.post('/forward', {
					num_steps: $("#num_steps").val()
				}).done(function(response) {
					console.log("Response: " + response['data']);
				}).fail(function() {
					console.log("Failed to contact server.");
				});
			});
			$("#right").click(function() {
				$.post('/right', {
					num_steps: $("#num_steps").val()
				}).done(function(response) {
					console.log("Response: " + response['data']);
				}).fail(function() {
					console.log("Failed to contact server.");
				});
			});
			$("#left").click(function() {
				$.post('/left', {
					num_steps: $("#num_steps").val()
				}).done(function(response) {
					console.log("Response: " + response['data']);
				}).fail(function() {
					console.log("Failed to contact server.");
				});
			});
	});
    </script>
</body>
</html>
