<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Login History</title>

<body>
	<table>
		<tbody>
			{% for item in history %}
				<tr><td>{{ item }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
