<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Login</title>

<body>
	<form action="" method="post" novalidate>
		{{ login.hidden_tag() }}
		<p>
			{{ login.username.label }}<br>
			{{ login.username }}
		</p>
		<p>
		    {{ login.password.label }}<br>
		    {{ login.password }}
		</p>
		<p>{{ login.submit }}</p>
	</form>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
</body>
</html>
